.header {
    background-color: #2e1653;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a600fa' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo {
    height: 15rem;
}

h1, h2, h3, h5 {
    color: white
}

h2 {
    display: table;
    margin: 0px auto 0px auto;
    background-color:#0076fd;
    padding:1rem;
}

.twitch {
    background-color: #a970ff;
    border-color: #a970ff;
    color: white;
}

.findoutmore {
    background-color: black;
    border-color: black;
    color: white;
}

.btn {
    border-radius: 0%;
}

.section {
    background-image: url('../../assets/img/tournament/banner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10rem;
}

.section-info {
    background-color: white;
}